.panel.offset-large-6.columns
  .h2 Create Playlist
.row
  .large-6.columns
    = form_for :playlistform, url: {action: 'create'}, html: {class: 'form-inline', role:'form'} do |f|
      = f.label :album_name
      = f.text_field :album_name

      = f.fields_for :artist_name do |artist|
        = artist.label :artist_first_name
        = artist.text_field :first_name

        = artist.label :artist_last_name
        = artist.text_field :last_name

      = f.fields_for :songs  do |song|
        = song.label :song_title
        = song.text_field :title

      = f.submit 'Create Playlist', class: 'button medium'
